<% if session[:data] %>
  <div class="form-box ui raised very padded text container segment">
    <h1 class="ui center aligned header">What are you waiting for ?</h1>
    <span class="margin-top-50">You need to save <%= session[:data]["number_of_year"] %> years to have <%= session[:data]["money_goal"] %> at the age of <%= session[:data]["end_age"] %>.</span>
    <div class="ui horizontal statistics">
      <div class="statistic blue">
        <div class="value">
          <%= session[:data]["year_saving"] %>
        </div>
        <div class="label">
          per year
        </div>
      </div>
      <div class="statistic teal">
        <div class="value">
          <%= session[:data]["month_saving"] %>
        </div>
        <div class="label">
          per month
        </div>
      </div>
      <div class="statistic purple">
        <div class="value">
          <%= session[:data]["day_saving"] %>
        </div>
        <div class="label">
          per day
        </div>
      </div>
    </div>
    
    <div id="voucher" class="ui green segment">
      Download  <a href="https://bankin.com/en/home.html">Bankin'</a> on <a href="https://itunes.apple.com/fr/app/bankin-la-meilleure-app-pour-g%C3%A9rer-mon-argent/id447040033?mt=8">iOS</a> or <a href="https://play.google.com/store/apps/details?id=com.bankeen&hl=fr">Android</a>. Add this voucher code for <strong>a free premium month !</strong><br>
      <h1 class="ui center aligned header voucher-code">AZQLQF</h1>
      <i class="ui grey text">I'm not working for Bankin' at all, I just love their app and want to share it to the world :-).</i>
    </div>
    
    <div class="ui placeholder segment margin-top-50">
      <div class="ui two column very relaxed stackable grid">
        <div class="column">
          <%= link_to root_path, class: "ui labeled icon blue button" do %> 
            <i class="redo icon"></i>
            Calculate a new saving plan
          <% end %>
        </div>
        <div class="middle aligned column">
          <button class="ui labeled icon green button" onclick="displayVoucher()">
            <i class="dollar icon"></i>
            Manage your money with Bankin'
          </button>
        </div>
      </div>
      <div class="ui vertical divider">
        Or
      </div>
    </div>
  </div>
<% end %>


<script>
displayVoucher = function(){
  document.getElementById('voucher').style.display = "inherit";
}
</script>